In [1]:
import seaborn as sns
import pandas as pd

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
categorical_cols=['sex','smoker','day']
numerical_cols=['total_bill','tip','size']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder=LabelEncoder()

In [9]:
df['time']=encoder.fit_transform(df['time'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    int64
 6   size        244 non-null    int64
dtypes: category(3), float64(2), int64(2)
memory usage: 8.9 KB

In [11]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [12]:
x=df.drop(labels=['time'],axis=1)

In [13]:
x

     total_bill   tip     sex smoker   day  size
0         16.99  1.01  Female     No   Sun     2
1         10.34  1.66    Male     No   Sun     3
2         21.01  3.50    Male     No   Sun     3
3         23.68  3.31    Male     No   Sun     2
4         24.59  3.61  Female     No   Sun     4
..          ...   ...     ...    ...   ...   ...
239       29.03  5.92    Male     No   Sat     3
240       27.18  2.00  Female    Yes   Sat     2
241       22.67  2.00    Male    Yes   Sat     2
242       17.82  1.75    Male     No   Sat     2
243       18.78  3.00  Female     No  Thur     2

[244 rows x 6 columns]

In [14]:
y=df["time"]
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=20,random_state=42)

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

In [18]:
numerical_pipeline=Pipeline(steps=[('imputer',SimpleImputer(strategy='median')),('scaler',StandardScaler())])  #pipeline for numerical featrures

In [19]:
categorical_pipeline=Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')),('onehotencoder',OneHotEncoder())])  #pipeline for categorical features

In [20]:
x_test

     total_bill   tip     sex smoker   day  size
24        19.82  3.18    Male     No   Sat     2
6          8.77  2.00    Male     No   Sun     2
153       24.55  2.00    Male     No   Sun     4
211       25.89  5.16    Male    Yes   Sat     4
198       13.00  2.00  Female    Yes  Thur     2
176       17.89  2.00    Male    Yes   Sun     2
192       28.44  2.56    Male    Yes  Thur     2
124       12.48  2.52  Female     No  Thur     2
9         14.78  3.23    Male     No   Sun     2
101       15.38  3.00  Female    Yes   Fri     2
45        18.29  3.00    Male     No   Sun     2
233       10.77  1.47    Male     No   Sat     2
117       10.65  1.50  Female     No  Thur     2
177       14.48  2.00    Male    Yes   Sun     2
82        10.07  1.83  Female     No  Thur     1
146       18.64  1.36  Female     No  Thur     3
200       18.71  4.00    Male    Yes  Thur     3
15        21.58  3.92    Male     No   Sun     2
66        16.45  2.47  Female     No   Sat     2
142       41.19  5.00    Male     No  Thur     5

In [28]:
preprocessing=ColumnTransformer(transformers=[('num_pipeline',numerical_pipeline,numerical_cols),('cat_pipeline',categorical_pipeline,categorical_cols)])

In [29]:
x_train=preprocessing.fit_transform(x_train)
x_test=preprocessing.fit(x_test)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [24]:
models={'Random Forest':RandomForestClassifier(),'Logistic Regression':LogisticRegression(),'Decision tree classifier': DecisionTreeClassifier()}

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
def evaluation(x_train,y_train,x_test,y_test,models):
    report={}
    
    
    for i in range(len(models)):
        model=list(models.values())[i]
        model.fit(x_train,y_train)
        y_pred= model.predict(x_test)
        accuracy=accuracy_score(Y_test,y_pred)
        report[list(models.keys())[i]]=accuracy
    return report

In [27]:
evaluation(x_train,y_train,x_test,y_test,models)

TypeError: float() argument must be a string or a real number, not 'ColumnTransformer'

In [ ]:
df.info()